<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="title-form h2 text-center">Login to Sudolink</div>
    <div class="form-group">
        <!-- <label for="username">Username</label> -->
        <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username">
    </div>
    <div class="form-group">
        <!-- <label for="password">Password</label> -->
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
    </div>
    <button type="submit"  class="button btn-success btn form-control loading" [disabled]="loginForm.invalid">Login <div [ngStyle]="{'display': getLoaderStatus()}" class="spinner-border spinner-border-sm"></div></button>
    

    <a class="my-3" routerLink="/register">Not an account yet?</a>

</form>
